.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #f5f5f5; /* Optional: background color for better visibility */
}

.knowledge-section {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* White background for content */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 90%; /* Optional: control the width */
  min-height: 800px;
  text-align: start; /* Center-align content inside */
}

.knowledge-section h1 {
  margin-bottom: 10px;
}

.knowledge-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.knowledge-section p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.knowledge-category {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.category-header:hover {
  background-color: #f9f9f9;
}

.category-header i {
  font-size: 14px;
  color: #555;
}
/* Style for the list */
ul {
  padding-left: 20px;
  list-style-type: disc; /* Makes the list have bullets */
}

/* Style for each list item */
li {
  margin-bottom: 5px;
}
