<div class="container">
  <div class="header-container">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Αναζήτηση"
      [(ngModel)]="searchTerm"
      (input)="filterTree()"
    />
  </div>
  <div id="tree-container"></div>
  <div
    class="tooltip"
    id="tooltip"
    style="
      position: absolute;
      display: none;
      background: white;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      pointer-events: none;
    "
  ></div>
</div>
