<p-carousel [circular]="true" [value]="positions">
  <ng-template let-position pTemplate="item">
    <div class="container">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="fieldset-header-class">
            Οικογένεια Θέσης Εργασίας <br />
            {{ parentName }}
          </div>
        </ng-template>
        <p-panel>
          <ng-template pTemplate="header">
            <div class="custom-header">{{ familyName }}</div>
          </ng-template>
          <div class="main-content">
            <!-- Left side: fieldsets with full layout -->
            <div class="left-section">
              <div class="content-container">
                <!-- Top-left fieldset -->
                <p-fieldset class="left-fieldset">
                  <ng-template pTemplate="header">
                    <div style="display: flex; align-items: center">
                      <i
                        class="pi pi-book"
                        style="margin-right: 0.5rem; color: #0055a5"
                      ></i>
                      <span style="color: #0055a5">Περιγραφή Ρόλου</span>
                      <p-button
                        *ngIf="isAdmin"
                        icon="pi pi-pencil"
                        [rounded]="true"
                        [text]="true"
                        (click)="
                          showEditModal(
                            'Περιγραφή Ρόλου',
                            position.positionDescription
                          )
                        "
                      ></p-button>
                      <p-button
                        *ngIf="isAdmin"
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        [style]="{ color: 'red' }"
                        (onClick)="onDelete(position)"
                      ></p-button>
                    </div>
                  </ng-template>
                  <p class="m-0">
                    {{ position.positionDescription }}
                  </p>
                </p-fieldset>
                <!-- Top-right fieldset -->
                <div class="right-container">
                  <p-fieldset class="top-right-fieldset">
                    <ng-template pTemplate="header">
                      <div style="display: flex; align-items: center">
                        <i
                          class="pi pi-eye"
                          style="margin-right: 0.5rem; color: #0055a5"
                        ></i>
                        <span style="color: #0055a5">Όραμα</span>
                        <p-button
                          *ngIf="isAdmin"
                          icon="pi pi-pencil"
                          [rounded]="true"
                          [text]="true"
                          (click)="showEditModal('Όραμα', position.vision)"
                        ></p-button>
                        <p-button
                          *ngIf="isAdmin"
                          icon="pi pi-times"
                          [rounded]="true"
                          [text]="true"
                          [style]="{ color: 'red' }"
                          (onClick)="onDelete(position)"
                        ></p-button>
                      </div>
                    </ng-template>
                    <p class="m-0">
                      {{ position.vision }}
                    </p>
                  </p-fieldset>
                  <p-fieldset class="bottom-right-fieldset">
                    <ng-template pTemplate="header">
                      <div style="display: flex; align-items: center">
                        <i
                          class="pi pi-users"
                          style="margin-right: 0.5rem; color: #0055a5"
                        ></i>
                        <span style="color: #0055a5"
                          >Αντίκτυπος στους Πολίτες</span
                        >
                        <p-button
                          *ngIf="isAdmin"
                          icon="pi pi-pencil"
                          [rounded]="true"
                          [text]="true"
                          (click)="
                            showEditModal(
                              'Περιγραφή Ρόλου',
                              position.positionDescription
                            )
                          "
                        ></p-button>
                        <p-button
                          *ngIf="isAdmin"
                          icon="pi pi-times"
                          [rounded]="true"
                          [text]="true"
                          [style]="{ color: 'red' }"
                          (onClick)="onDelete(position)"
                        ></p-button>
                      </div>
                    </ng-template>
                    <p class="m-0">
                      {{ position.impact }}
                    </p>
                  </p-fieldset>
                </div>
              </div>
              <!-- Full-width fieldset -->
              <p-fieldset class="full-width-fieldset">
                <ng-template pTemplate="header">
                  <div style="display: flex; align-items: center">
                    <i
                      class="pi pi-book"
                      style="margin-right: 0.5rem; color: #0055a5"
                    ></i>
                    <span style="color: #0055a5">Καθήκοντα</span>
                    <p-button
                      *ngIf="isAdmin"
                      icon="pi pi-pencil"
                      [rounded]="true"
                      [text]="true"
                      (click)="showEditModal('Καθήκοντα', position.outlines)"
                    ></p-button>
                    <p-button
                      *ngIf="isAdmin"
                      icon="pi pi-times"
                      [rounded]="true"
                      [text]="true"
                      [style]="{ color: 'red' }"
                      (onClick)="onDelete(position)"
                    ></p-button>
                  </div>
                </ng-template>
                <p class="m-0">
                  {{ position.outlines }}
                </p>
              </p-fieldset>
              <!-- Divider below full-width fieldset -->
            </div>

            <!-- Vertical divider and right section -->
            <p-divider type="dashed" [layout]="'vertical'"></p-divider>
            <div class="right-section">
              <!-- Top fieldset on right -->
              <p-fieldset class="right-top-fieldset">
                <ng-template pTemplate="header">
                  <div style="display: flex; align-items: center">
                    <i
                      class="pi pi-user-edit"
                      style="margin-right: 0.5rem; color: #0055a5"
                    ></i>
                    <span style="color: #0055a5">Δεξιότητες</span>
                  </div>
                </ng-template>
                <p class="m-0">
                  {{ position.capabilities }}
                </p>
              </p-fieldset>
              <!-- Bottom fieldset on right -->
              <p-fieldset class="right-bottom-fieldset">
                <ng-template pTemplate="header">
                  <div style="display: flex; align-items: center">
                    <i
                      class="pi pi-server"
                      style="margin-right: 0.5rem; color: #0055a5"
                    ></i>
                    <span style="color: #0055a5">Κατηγορίες Γνώσεων</span>
                    <p-button
                      *ngIf="isAdmin"
                      icon="pi pi-pencil"
                      [rounded]="true"
                      [text]="true"
                      (click)="
                        showEditModal(
                          'Κατηγορίες Γνώσεων',
                          position.knowledgeCategories
                        )
                      "
                    ></p-button>
                    <p-button
                      *ngIf="isAdmin"
                      icon="pi pi-times"
                      [rounded]="true"
                      [text]="true"
                      [style]="{ color: 'red' }"
                      (onClick)="onDelete(position)"
                    ></p-button>
                  </div>
                </ng-template>
                <p class="m-0">
                  {{ position.knowledgeCategories }}
                </p>
              </p-fieldset>
            </div>
          </div>
        </p-panel>

        <p-divider type="dashed"></p-divider>
        <div class="icon-chips-container">
          <div class="icon-text">
            <i
              class="pi pi-building"
              style="font-size: 3rem; color: #0055a5"
            ></i>
            <span class="multi-line-text" style="color: #0055a5">
              Γενικά Περιγράμματα Θέσεων
            </span>
          </div>
          <div class="button-group">
            <p-chip
              class="chip-button"
              *ngFor="let position of jobPositions"
              [removable]="true"
              (onRemove)="deleteGeneralOutline(position)"
              (click)="onChipClick(position)"
              [style]="{ 'background-color': '#0055a5', color: 'white' }"
              >{{ position }}</p-chip
            >
            <p-button
              icon="pi pi-plus"
              [rounded]="true"
              [outlined]="true"
              [size]="'large'"
              (onClick)="addGOutline()"
            ></p-button>
          </div>
        </div>
      </p-fieldset>
    </div>
  </ng-template>
</p-carousel>
<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '80%' }"
>
  <ng-template pTemplate="header">
    <div
      style="
        justify-content: center;
        color: #d35400;
        font-weight: bolder;
        margin-left: 40%;
        font-size: 30px;
      "
    >
      ΓΕΝΙΚΟ ΠΕΡΙΓΡΑΜΜΑ
    </div>
  </ng-template>
  <!-- <p-header style="color: #d35400;font-weight: bolder;">ΓΕΝΙΚΟ ΠΕΡΙΓΡΑΜΜΑ</p-header> -->
  <app-outline-modal></app-outline-modal>
</p-dialog>
