<header>
  <div class="header-container">
    <div class="header-logo">
      <img src="assets/images/gov_gr_logo.svg" alt="gov.gr logo" />
      <div class="header-title">
        <span>ΕΛΛΗΝΙΚΗ ΔΗΜΟΚΡΑΤΙΑ</span>
        <span>Υπουργείο Εσωτερικών</span>
      </div>
    </div>

    <nav class="header-tabs">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Αρχική</a
          >
        </li>
        <li>
          <a
            routerLink="/role-search"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Αναζήτηση Προφίλ Ρόλου</a
          >
        </li>
        <li>
          <a
            routerLink="/knowledge"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Γνώσεις</a
          >
        </li>
        <li>
          <a
            routerLink="/general-outlines"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Γενικά Περιγράμματα Θέσης
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-button-container">
      <p-menu #menu [model]="actions" [popup]="true" appendTo="body"></p-menu>
      <p-button
        icon="pi pi-cog"
        [rounded]="true"
        [size]="'large'"
        (click)="menu.toggle($event)"
      ></p-button>
    </div>
  </div>
</header>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
