.flex-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  padding: 10px;
  padding-right: 90px;
}
.modal-textarea {
    width: 90%; /* Fixed width */
    height: 200px; /* Fixed height */
    resize: none; /* Disables manual resizing */
    overflow-y: auto; /* Enables scrolling instead of resizing */
  }
