<div class="main-content">
  <div class="side-menu">
    <ul>
      <li
        *ngFor="let section of sections; let i = index"
        (click)="scrollToSection(i)"
        [class.active]="currentSection === i"
      >
        {{ section.title }}
      </li>
    </ul>
  </div>
  <div class="article-content">
    <button class="add-section-button" (click)="addSection()">
      Προσθήκη Ενότητας <span class="icon">+</span>
    </button>
    <div
      *ngFor="let section of sections; let i = index"
      class="section"
      [attr.id]="'section-' + i"
      #section
    >
      <h2>
        {{ section.title }}
        <p-button
          *ngIf="isAdmin"
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          (onClick)="editSection(section)"
        ></p-button>
        <p-button
          *ngIf="isAdmin"
          icon="pi pi-times"
          [rounded]="true"
          [text]="true"
          [style]="{ color: 'red' }"
          (onClick)="onDelete(section)"
        ></p-button>
      </h2>
      <p>
        {{ section.description }}
      </p>
    </div>
  </div>
</div>
<p-dialog [(visible)]="showDeleteModal" header="Διαγραφή Ενότητας">
  <delete-warning
    [deleteText]="'την ενότητα'"
    (delete)="handleDelete($event)"
    (cancel)="handleCancel()"
  ></delete-warning>
</p-dialog>
<p-dialog
  [(visible)]="showAddEditModal"
  header="{{ modalHeader }}"
  [style]="{ width: '65rem' }"
>
  <add-edit-modal
    [titleType]="'Ενότητας'"
    [title]="selectedSection.title"
    [description]="selectedSection.description"
    (cancel)="handleCancel()"
    (save)="handleSave($event)"
  ></add-edit-modal>
</p-dialog>
