.govgr-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.govgr-loader {
  -webkit-animation: 10s linear infinite b;
  animation: 10s linear infinite b;
  height: 2.5rem;
}

.govgr-loader__circle {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 42px;
}

.govgr-loader__circle--1 {
  stroke: #003375;
}

.govgr-loader__circle--2 {
  --full-length: 470;
  stroke: #00b0f0;
  stroke-dasharray: var(--full-length);
  stroke-dashoffset: 0;
  -webkit-animation: 4s ease-in-out infinite forwards a;
  animation: 4s ease-in-out infinite forwards a;
}

.govgr-loader--sm {
  height: 1.25rem;
  width: 1.25rem;
}

.govgr-loader--md {
  height: 2.5rem;
  width: 2.5rem;
}

.govgr-loader--lg {
  height: 3rem;
  width: 3rem;
}

@keyframes a {
  0%,
  90%,
  to {
    stroke-dashoffset: 0;
  }
  40%,
  50% {
    stroke-dashoffset: var(--full-length);
  }
}

@keyframes b {
  to {
    transform: rotate(1turn);
  }
}
