.main-content {
  display: flex;
  width: 100%;
}

.side-menu {
  height: 100vh;
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #003366;
  padding: 10px;
  color: white;
  z-index: 10;
  position: sticky;
  top: 60px; 
  transition: height 0.3s ease;
  box-sizing: border-box;
  margin-top: 20px;
  position: fixed;
}

.side-menu.full-height {
  height: 100%; 
}

.side-menu.initial-height {
  height: auto;
}

.side-menu ul li {
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  font-size: 23px;
}

.side-menu ul li:hover {
  background-color: #0066cc;
}

.article-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  margin-left: 400px;
  margin-top:100px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  text-align: center; 
  margin: 20px 0; 
  position: relative;
}

.section h2::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40%;
  height: 3px;
  background-color: lightgray;
  z-index: 8;
}

.section p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin: 60px 20px 20px 20px;
  color: #333;
}

.section textarea {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin: 60px 20px 20px 20px;
  color: #333;
}

@media (max-width: 1024px) {
  .header-tabs {
    margin-left: 20px;
  }

  .main-content {
    margin-left: 0;
  }

  .side-menu {
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media (max-width: 768px) {
  .header-tabs {
    margin-left: 10px;
  }

  .header-tabs ul {
    justify-content: flex-start;
  }

  .header-tabs ul li a {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.add-section-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 15px 30px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.add-section-button:hover {
  background-color: #0055a5;
}

.add-section-button .icon {
  font-size: 45px;
  margin-left: 10px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
}

.side-menu li.active {
  font-weight: bold;
  background-color: #0066cc;
  border-left: 4px solid #007bff;
}
