<form
  [formGroup]="generalOutlineForm!"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <p-header class="dialog-header"></p-header>
  <div class="form-row">
    <div class="form-column">
      <label for="profileRole">Προφίλ Ρόλου:</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-column">
      <p-dropdown
        formControlName="profileRole"
        [options]="roles"
        optionLabel="name"
        placeholder="Επιλογή Ρόλου"
        appendTo="body"
      />
      <div
        *ngIf="
          generalOutlineForm.controls['profileRole'].invalid &&
          generalOutlineForm.controls['profileRole'].touched
        "
      >
        <p-message
          severity="error"
          text="Το πεδίο είναι υποχρεωτικό."
        ></p-message>
      </div>
    </div>
  </div>
  <div class="p-dialog-footer" style="justify-content: space-between">
    <button
      [ngClass]="{
        'p-button-success': generalOutlineForm.valid,
        'p-button-secondary': !generalOutlineForm.valid
      }"
      [disabled]="!generalOutlineForm.valid"
      pButton
      type="button"
      label="Αποθήκευση"
      class="p-button-success"
      (click)="onSubmit()"
    ></button>
    &nbsp;
    <p-button
      label="Ακύρωση"
      icon="pi pi-times"
      (click)="onCancel()"
      class="ui-button-secondary"
    ></p-button>
  </div>
</form>
