<div class="page-container">
  <div class="knowledge-section">
    <h1>
      Γνώσεις
      <!-- <p-button
        *ngIf="isAdmin"
        icon="pi pi-pencil"
        [rounded]="true"
        [text]="true"
        (click)="showEditModal(knowledgeDescr, true)"
      ></p-button> -->
    </h1>
    <p [innerHTML]="knowledgeDescr"></p>
    <h3>Κατηγορίες Γνώσεων</h3>
    <p-accordion [activeIndex]="0">
      <p-accordionTab
        *ngFor="let tab of accordionTabs"
        [header]="tab.name"
        pTooltip="{{ tab.description }}"
        tooltipPosition="top"
      >
        <ng-template pTemplate="header">
          <div>
            <p-button
              *ngIf="isAdmin"
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              (click)="showEditModal(tab)"
            ></p-button>
          </div>
        </ng-template>
        <ul>
          <li *ngFor="let line of tab.knowledge">
            {{ line.description }}
          </li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
